/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2em;
    font-weight: bold;
}

.company-logo img {
    width: 70px;

}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
}

/* About Us Section Styles */
.about-us p {
    line-height: 1.5;
}

/* Contact Us Section Styles */
#contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#contact-form label {
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form textarea {
    resize: vertical;
}

#chatPopup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
}

#chatPopup h2 {
    margin-top: 0;
}

#chatCloseBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#chatBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 999;
}

#chatBtn:hover {
    background-color: #0056b3;
}
